// 1. Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "abstracts/extends";

// 2. Layout
@import "layout/header";
@import "layout/main";
@import "layout/footer";
@import "mq/mq";

/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxx;
}










