

/* ESTILOS FOOTER */
footer{
    background-color:#FFFFFF;
    width:100%;}

.footer-ul {
    width: 100%;
    object-fit: cover;
 }

.footer-ul img{
    height: 40px;
    width: 40px;
    object-fit: cover;
 }

.p-footer-derechos{
    color: $backgroundcolor;
    text-align: center;
    max-width: 100%;;
    background-color: #000000;
}


