/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oscureser-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#0000009d;

}

/* ESTILOS HEADER */
.index-header{
    background-image: url(../img/fondoindex.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    position: relative;
}

.index-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.contenedor-inferior-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    max width: 63vh;
    padding: 3rem;
    gap: 1rem;
} 

.btn-header{
    background-color: #ffffff;
    border: none;
    color: #8f4e4e;
    font-weight: 600;
    padding: 15px ;
    margin-top: 2rem;
}

.logotipo-index{
    width: 5rem;
    height: 5rem;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.navegacion-superior-index ul li a{
    color: #ffffff;
}

.index-parrafoheader, .index-h1 {
    color: #ffffff;

}


.parrafo-mujer{
    color: gray;
    font-style: italic;
    font-size: 1.5em;
}

/* ESTILOS MAIN */
.index-main{
    margin: 2rem 2rem;
}

.nuestrasremeras-index-h2{
    text-align: center;
    margin-bottom: 1rem;
}

.ultimos-oversize-contenedor {
    display: flex; 
    flex-wrap:wrap;
    gap: 1rem;
    justify-content: center;

}

.remeraindex:hover{
    transform:scale(1.01) ;
}
.remeraindex{
    transition: transform 0.5s;
    width: 25rem;
    background-color: #e68888b9;
    border-radius: 0.5rem;
}
 
.remeraindex img{
    width: 100%;
}
.btn-remera-index{
    border-radius: 0.5rem;
    width: 100%;
    background-color: #ff0000;
    border: none;
    padding: 0.5rem ;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0.6rem;


}

/* ESTILOS FOOTER */
footer{
    background-color: #ffffff;
    height: 20vh;
    padding: 48px;
}
.linea-index-footer{
    margin: 0 0 60px;
    height: 1px;
    background-color: #808080;
}

.falso-index-footer{
    display: flex;
    gap: 12px;
}
.columna-index-footer{
    width:100%;
}

@media only screen and (min-width: 720px){
    ul,.index-header-flex{
        flex-direction: row;
    }
}