@media only screen and (min-width: 0px) and (max-width: 425px) {

   // HEADER INDEX
   .carrusel-foto-index {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }

   .carrusel-img-index {
      width: 100vw;
      height: 500px;
      object-fit: cover;
      overflow: hidden;
      position: relative;
   }

   .img-desktop {
      display: none;
   }



   
.contenedor-men {
  flex: 1 1 50%; // 2 por fila en mobile
}
.img-card {
     display: flex;
  flex-direction: column;
  height: 100%;
}

   // FOOTER INDEX

   .footer-index {
      width: 100%;
   }

}

@media only screen and (min-width: 426px) and (max-width: 768px) {
   .carrusel-foto-index {
      width: 100%;
      object-fit: cover;
   }

   .div-index-main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 0.5rem;
      width: 100%;
      height: 100%;
   }

   .card-img-index {
      object-fit: cover;
      overflow: hidden;
      width: 200px;
      height: 300px;

   }

   // MAIN HOMBRE 
   .contenedor-cards-men {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

   }

   .img-card {
    flex: 0 0 25%; // 25% ancho
  }

   // FOOTER-INDEX
   .footer-index {
      width: 100%;
   }


// MAIN SOBRE NOSOTROS
.img-sobrenosotros{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


}


@media only screen and (min-width: 769px) {

   .carousel-index {
      display: none;
   }


   .img-desktop {
      display: block;
      object-fit: cover;
      width: 100vw;
      height: 100%;
   }


   .carousel-item {
      width: 100%;
      object-fit: cover;
   }

   .carrusel-img-index {
      height: 100vh;
      object-fit: cover;
   }


   .div-index-main {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      height: auto;
      gap: 0.5rem;

   }

   .card-index-div {
      flex-basis: 100px;
      flex-grow: 1;
   }

   .card-img-index {
      object-fit: cover;
      height: 500px;
      width: 100%;
      flex-shrink: 0;

   }
   // PAGINA MEN
  

   .img-card {
      flex: 0 0 25%; // 25% ancho
    }

.card-img{
   height: 70vh;
}

   .carrusel-foto-index-main {
      height: 95vh;
   }


   .footer-index {
      width: 100%;
   }
   
//MAIN SOBRENOSOTROS
.img-sobrenosotros{
   height: 100%;
   width: 400px;
    
}

}